<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head')%>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/navbar')%>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 shadow-sm p-3 rounded bg-info">
          <div class="modal-body">
            <h2>Create a new account:-</h2>
            <form action="/add" method="POST" enctype="multipart/form-data">
              <div class="form-group mb-3">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control border-secondary"
                  id="name"
                  name="name"
                  placeholder="Enter user name"
                />
              </div>
              <div class="form-group mb-3">
                <label for="email" class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control border-secondary"
                  id="email"
                  name="email"
                  placeholder="Enter email"
                />
              </div>
              <div class="form-group mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input
                  type="tel"
                  class="form-control border-secondary"
                  id="phone"
                  name="phone"
                  placeholder="Enter phone number"
                />
              </div>
              <div class="form-group mb-3">
                <label for="image" class="form-label">Profile Image</label>
                <input
                  type="file"
                  class="form-control border-secondary"
                  id="image"
                  name="image"
                />
              </div>
              <button class="btn btn-primary w-100">create</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('./partials/script')%>
  </body>
</html>
